  
<div class="container">
	<div class="row header text-center"> <!-- header -->
		<img class="img-responsive icon" src="./assets/img/eat-da-burger.png">
	</div> <!-- header row -->

	<div class="row orderup  text-center">
		<input type="text" class="form-control" id="name" placeholder="My burger is called..."><button type="submit" id="submit">Order up!</button>
	</div> <!-- survey row -->

<div class="row"> <!-- burgers -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- left column -->
			<h1 id="left">To Be Eaten...</h1>
			{{#each burgers}}
			{{#unless devoured}}
			<div class="burgerblock">
				<!--<img src="../public/assets/img/tinyburger.png" class="tinyburger">-->
				<img src="../assets/img/burger.png" class="burger" data-id="{{this.id}}"><h2>{{burger_name}}</h2>
			</div>
			{{/unless}}
			{{/each}}
		</div> <!-- left column -->

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- right column -->
			<h1 id="right">Already Devoured!</h1>
			{{#each burgers}}
			{{#if devoured}}
			<div class="burgerblock">
				<!--<img src="./assets/img/burger.png" class="tinyicon burgericon eaten">-->
				<img src="./assets/img/cutlery.png" class="cutlery" data-id="{{this.id}}"><h2>{{burger_name}}</h2>
			</div>
			{{/if}}
			{{/each}}
		</div> <!-- right column -->
	</div> <!-- burgers row -->


	<div class="row text-center"> <!-- footer -->
		<p class="footer"><a href="https://github.com/jeanhern81/Eat-Da-Burger">GitHub</a></p>
	</div> <!-- footer row -->
</div> <!-- container -->